.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 400px;
    
  
}



.profile{
    background-color: grey;
    width: auto;
    height: auto;
    border-radius: 20px;
   padding: 10px;
   justify-content: center;
  
}

.pic{
    justify-content: center;
    width: 150px;
    height: 150px;
    background-color: #1ECEFD;
}



button{
    width: 80%;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
}